# Python
# Byte-Compiled / Optimized / DLL Files
__pycache__/
**/__pycache__/

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
.vscode/

# Credentials (Keep @ Bottom)
.env

# Others
assets/
